*,
html,
body {
    margin: 0;
    padding: 0px;
    height: 100%;
}

h1,
h2 {
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;

    background-color: transparent;
    backdrop-filter: blur(8px);

    color: #fff;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.logo-container h1 {
    height: auto;
}

.nav-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btns-container a {
    height: 30px;
    margin: 15px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    min-height: 500px;
    background: url("../images/hero-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.offerings-section {
    background-image: url("../images/card-container-bg.jpeg");
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    padding: 25px;
    min-height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.offerings-section h1 {
    font-size: 3rem;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 999px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.75s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.card-front {
    background-color: #bbb;
    color: black;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front-image {
    width: 100%;
    height: 100%;
}

.reviews-section {
    width: 100%;
    min-height: 400px;
}

.reviews-carousel {
    background: #ffffff;
    text-align: center;
    padding: 2rem 0;
    height: 100%;
    max-width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.reviews-carousel h2 {
    margin: 0;
    margin-top: -1.7em;
    padding: 0;
    font-size: 1em;
    text-align: center;
    color: #bbbbbb;
}
.reviews-carousel .reviews {
    width: 400%;
    left: 0;
    padding-left: 0;
    padding-top: 1em;
    overflow: hidden;
    list-style: none;
    position: relative;

    transition: transform 0.5s;
}
.reviews-carousel .reviews li {
    width: 25%;
    position: relative;
    float: left;
}
.reviews-carousel li p {
    margin-top: 0;
}
.reviews-carousel li q {
    max-width: 90%;
    margin: auto;
    color: #666666;
    font-size: 1.3em;
    font-weight: bold;
}

.reviews-carousel li span.author {
    margin-top: 0.5em;
    font-size: 1.2em;
    color: #777777;
    display: block;
}
.reviews-carousel .slidesNavigation {
    display: block;
    list-style: none;
    text-align: center;
    bottom: 1em;

    position: absolute;
    width: 104px;
    left: 50%;
    margin-left: -52px;
}
.reviews-carousel input {
    height: 10px;
}

#radio-1:checked ~ .reviews {
    transform: translateX(0%);
}
#radio-2:checked ~ .reviews {
    transform: translateX(-25%);
}
#radio-3:checked ~ .reviews {
    transform: translateX(-50%);
}
#radio-4:checked ~ .reviews {
    transform: translateX(-75%);
}

/* .footer {
    height: 50px;
    width: 100%;
    background-color: red;
    flex-shrink: 0;
} */
