<div class="authenticate-container form-container">
    <div class="register-container">
        <h1>Register</h1>
        <input
            type="text"
            id="firstName"
            name="firstName"
            placeholder="First Name"
            required
        />

        <input
            type="text"
            id="lastName"
            name="lastName"
            placeholder="Last Name"
            required
        />

        <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
        />

        <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
        />
        <input type="submit" id="register-button" value="Register" />
    </div>
    <div class="login-container">
        <h1>Login</h1>

        <input
            type="email"
            id="loginEmail"
            name="loginEmail"
            placeholder="Email"
            required
        />

        <input
            type="password"
            id="loginPassword"
            name="loginPassword"
            placeholder="Password"
            required
        />

        <input type="submit" id="login-button" value="Login" />
    </div>
</div>
