<div class="footer">
    <video autoplay loop muted src="/assets/videos/footer.mp4"></video>
    <div class="footer-content">
        <div class="logo-container">
            <a href="/" style="text-decoration: none; color: white">
                <img
                    class="logo"
                    src="/assets/images/site-logo.svg"
                    alt="Card Depot Logo"
                />
            </a>
        </div>
        <div class="follow-us">
            <h2>Follow Us</h2>
            <div class="socials-container">
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="mailing-list" style="visibility: hidden">
            <h4>Signup to Our Mailing List</h4>
            <div>
                <input
                    type="text"
                    name="email"
                    placeholder="Email Address"
                    id="mailing-list-email"
                />
                <input type="submit" value="Signup" />
            </div>
        </div>
    </div>
</div>
<script
    src="https://kit.fontawesome.com/3c6fdc97de.js"
    crossorigin="anonymous"
></script>
