<div class="navbar">
    <div class="logo-container">
        <a href="/" style="text-decoration: none; color: white">
            <img
                class="logo"
                src="/assets/images/site-logo.svg"
                alt="Card Depot Logo"
            />
        </a>
        <a href="/" style="text-decoration: none; color: white"
            ><h1>Card Depot</h1></a
        >
    </div>
    <div class="navbar-btns-container">
        <a href="/shop" class="cta-btn navbar-shop-btn">Shop</a>

        <a href="/account" class="cta-btn navbar-contactus-btn">Account</a>
        <a href="/cart" class="cta-btn navbar-cart-btn">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
</div>
