<div class="navbar">
    <div class="logo-container">
        <img
            class="logo"
            src="/assets/images/site-logo.svg"
            alt="Card Depot Logo"
        />
        <h1>Card Depot</h1>
    </div>
    <div class="navbar-btns-container">
        <a href="/shop" class="cta-btn navbar-shop-btn">Shop</a>

        <a href="/account" class="cta-btn navbar-contactus-btn">Account</a>
    </div>
</div>
